.monday {display: flex;
    flex-direction: column;
    flex-wrap: wrap;
justify-content: center}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid #ececec;
    border-radius: 20px;
    background-color: #ffe2dd;
    height:100px;
    width: 250px;
}


.headerTitle {
    text-align: center;
    font-style: italic;

}
input {
    background-color: #ececec;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin: 2px;
    font-style: italic;
    height: 25px;
}
button {
    border-radius: 10px;
    background-color: #ececec;
    font-style: italic;
    font-weight: bold;
}

.names {align-self: center;
       font-style: italic;
        width: 250px;
        background-color: #ffe2dd;
        border-radius: 10px;
        font-weight: bold;
        border: #7f7f7f 1px solid;
}
.name { height: 30px;
text-align: center}




























































































































































































































































































































