a {
    text-decoration: none;
    font-size: x-large;
    margin: 20px;
    padding: 20px;
}
.item {
    height: 30px;
    font-style: italic;

}
.burger {
    margin: 20px;
    width: 48px;
    height: 48px;
    background: url(https://icon-icons.com/icons2/1993/PNG/48/burger_line_list_menu_nav_navigation_option_icon_123231.png) no-repeat center;
    background-size: contain;

}

.cross {
    margin: 20px;
    width: 48px;
    height: 48px;
    background: url(https://icon-icons.com/icons2/1157/PNG/32/1487086345-cross_81577.png) no-repeat center;
}
.menuIcon{
    margin: 30px;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #939393;
}
.menuIcon::before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: #6f6f6f;
    transition:  transform 0.1s ease-in, top 0.1s linear 0.1s;


}
.menuIcon::after {
    position: absolute;
    left: 0px;
    top: 20px;
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: #424242;
    transition:  transform 0.1s ease-in, top 0.1s linear 0.1s;
}
.menuIconActive {
    background-color: transparent;

}
.menuIconActive::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
}
.menuIconActive::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
}


