a {
    text-decoration: none;
    font-size: x-large;
    margin: 20px;
    padding: 10px;
    color: #585858;
}
.nav {

    position: absolute;

}
.item {
    height: 30px;
    font-style: italic;
    opacity: 1;
    transition: 1s;

}





.menuIcon{
    margin: 30px;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #939393;
    opacity: 1;
}
.menuIcon::before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: #6f6f6f;
    transition:  transform 0.1s ease-in, top 0.1s linear 0.1s;
}




.menuIcon::after {
    position: absolute;
    left: 0px;
    top: 20px;
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: #424242;
    transition:  transform 0.1s ease-in, top 0.1s linear 0.1s;
}
.menuIconActive {
    background-color: transparent;

}
.menuIconActive::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
}
.menuIconActive::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.1s linear, transform 0.1s ease-in 0.1s;
}


